<html>
<header>
  <link rel="stylesheet" href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="http://pall.sigurdsson.is/css/style.css" />
</header>
<body>
  <div id="box" class="wrapper">
    <div class="content">
    <h1>Hello cruel world. Here is our list of ilos</h1>

    {% if hosts %}
	
	<table class="table">
      	<tr>
		<th>Host Name</th>
		<th>Address</th>
	</tr>  
	{% for host in hosts %}
	  <tr>
	    <td>
		<a href="{% url inframan.ilo.views.detail host.host_name %}">
		{{ host.host_name }}
		</a>
	    </td>
	    <td>
		<a href="https://{{ host.address }}">
		https://{{ host.address }}
		</a>		
</td>
	  </tr>
        {% endfor %}

	</table>
    {% else %}
        It appears you have not added any ilos yet. Please go to /admin and add some ilos.
    {% endif %}
    </div>
  </div>
</body>
</html>
